/*=============================================
=                   Apply                     =
=============================================*/
.apply {
  &-block {
    .page-desc {
      max-width: 576px;
      margin-top: -5px;
    }
    .slider-navigation__inner{
      background: #28335e;
    }
  }
  &-inner{
    display: flex;

  }
  &-left{
    margin-right: 30px;
    max-width: 460px;
    width: 100%;
    img{
      border-radius: 10px 10px 200px 10px;
    }
  }
  &-right{
    max-width: calc(100% - 490px);
  }
  &-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
  }
  &-item{
    width: calc(33% - 15px);
    height: 65px;
    background: rgba(89, 98, 129, 0.5);
    border: 1px solid #F8F8F8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    transition: $transition;
    color: #FFFFFF;
    cursor: pointer;
    &:hover{
      font-weight: 500;
    }
  }

}

/*=====  End of Apply  ======*/
