/*=============================================
=                AboutPage                   =
=============================================*/

.about-page {
  padding-bottom: 110px;
  .page-title {
    margin-top: 43px;
    margin-bottom: 40px;
  }

}
/*=====  End of aboutPage  ======*/
