/*=============================================
=                AboutPage                   =
=============================================*/

.about-page {
  padding-bottom: 110px;
&__posts{
  background: #212C53;
  padding: 60px 0;
}
  .page-title {
    margin-top: 43px;
    margin-bottom: 40px;
  }

  &-title__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 551px;
    margin-left: 107px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    margin-top: 40px;
  }

  &__item {
    max-width: calc(100% /3);
  }

  &__img {
    margin-bottom: 10px;
    img {
      border-radius: 15px;
    }
  }
  &__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 135%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

/*=====  End of aboutPage  ======*/
