/*=============================================
=                Variables                    =
=============================================*/

@use "sass:math";

$color-turquoise: #d1fdff;
$color-navy: #2a355e;
$color-light-gray: #f8f8f8;
$color-teal: #64c1c6;
$color-dark-blue: #212c53;
$color-white: #ffffff;
$color-gray: #596281;
$color-black: #03000b;
$color-medium-gray: #686868;
$color-dim-gray: #4b4b4b;
$color-yellow: #fbd433;

$transition: 0.3s ease-in-out;

/*=====  End of Variables  ======*/
